watsonrestaurant/temp/resource/node-red.txt
[{"id":"df67433.fbc9fc","type":"http in","z":"bf89f9a5.662b18","name":"","url":"/","method":"get","swaggerDoc":"","x":70,"y":80,"wires":[["294b1335.c8c6ec","5001123d.2e782c"]]},{"id":"bc862ce0.24f34","type":"http response","z":"bf89f9a5.662b18","name":"","x":810,"y":80,"wires":[]},{"id":"294b1335.c8c6ec","type":"template","z":"bf89f9a5.662b18","name":"html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ja\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, user-scalable=no\">\n    \n    <title>Watson Restaurant</title>\n    \n    <script src=\"//code.jquery.com/jquery-3.1.1.min.js\"></script>\n    <script src=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <script src=\"//cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.20/autosize.min.js\"></script>\n    <script src=\"//maps.googleapis.com/maps/api/js?key=api_key\"></script>\n    \n    <link href=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <link href=\"//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css\" rel=\"stylesheet\">\n    <link href=\"//fonts.googleapis.com/earlyaccess/notosansjapanese.css\" rel=\"stylesheet\">\n    <link href=\"//fonts.googleapis.com/css?family=Coming+Soon\" rel=\"stylesheet\">\n    \n    <style type=\"text/css\">\n      body {\n        font-family: 'Noto Sans Japanese', serif;\n        margin: auto;\n      }\n      .title {\n        font-family: 'Coming Soon', cursive;\n      }\n      \n      .header {\n        background-color: rgba(100%,100%,100%,0.9);        \n      }\n      .header .search-word-area {\n        padding-right: 0;\n      }\n      .header .voice-button-area {\n        padding-right: 0;\n      }\n      \n      .jumbotron {\n        background-color: transparent;\n        padding: 0;\n        margin: 0;\n      }\n      .fa {\n        font-size: 20px;\n        margin: 0;\n      }\n      .form-group {\n        margin: 0;\n      }\n      \n      .textArea {\n        resize: none;\n      }\n      .title-margin {\n        height: 5em;\n      }\n      .listMode .header {\n        position: fixed;\n        width: 100%;\n        padding: 0 15px;\n        z-index: 10;\n      }\n      .listMode .results-margin .visible-xs {\n        height: 10.5em;\n      }\n      .listMode .results-margin .hidden-xs {\n        height: 12.5em;\n      }\n      \n      .lights {\n        margin: 0.5em;\n      }\n      .provided {\n        position: absolute;\n      }\n\n      .restaurant * {\n        color: white;\n      }\n      .restaurant .panel {\n        border: 0;\n      }\n      .restaurant-bg {\n        background-repeat: no-repeat;\n        background-size: cover;\n        background-position: center;        \n      }\n      .restaurant .panel-heading, .restaurant .panel-footer, .restaurant .panel-body {\n        border: 0;\n        background-color: rgba(0%,0%,0%,0.25);\n      }\n      .restaurant .panel-title {\n        height: 2em;\n      }\n      .restaurant .panel-body {\n        height: 8em;\n        overflow-y: scroll;\n      }\n      .restaurant .star-icons {\n        margin-top: 1em;\n        margin-bottom: 0;\n      }\n      .restaurant .star-icons * {\n        color: gold;\n        font-size: 2em;\n      }\n      \n      .restaurant .panel-footer span {\n        margin-left: 0.5em;\n      }\n      .detail-icons {\n        text-align: center;\n      }\n      .comment-icons {\n        text-align: right;\n      }\n      .detail-icons i, .comment-icons i {\n        font-size: 3em;\n        width: 1.25em;\n      }\n      \n      .pinButton * {\n        opacity: 0.5;\n      }\n      .pinning .pinButton * {\n        opacity: 1;\n      }\n      \n      #comment-modal .modal-dialog, #alertModal .modal-dialog {\n        padding-top: 11em;\n      }\n      #map-modal .modal-body {\n        height: 500px;\n      }\n      .modal-header, .modal-footer {\n        border: 0;\n      }\n      .modal-alert-color .modal-backdrop {\n        background-color: transparent;\n      }\n      \n      #map-canvas {\n        height: 100%;\n      }\n      .map-icon {\n        position: absolute;\n        right: 0.25em;\n        top: 0.25em;\n      }\n      .map-icon i {\n        font-size: 2em;\n      }\n      \n      .blink {\n        color: orangered !important;\n        animation: blink 0.75s infinite alternate;\n      }\n      @keyframes blink {\n        from { opacity: 1.0; }\n        to { opacity: 0; }\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container-fluid\">\n      <div class=\"row title-margin\">\n        <div class=\"col-xs-12\"></div>\n      </div>\n      <div class=\"row\">\n      </div>\n      <form class=\"form-horizontal header\">\n        <div class=\"form-group text-center\">\n          <div class=\"col-xs-12 jumbotron text-center\">\n            <h1 class=\"title\">WatsonRestaurant</h1>\n          </div>\n          <div class=\"col-xs-3 hidden-xs\"></div>\n          <div class=\"col-xs-10 col-sm-6 search-word-area\">\n            <textarea class=\"form-control textArea\" placeholder=\"唐揚げ定食が食べたい\" rows=\"1\" cols=\"70\"></textarea>\n          </div>\n          <div class=\"col-xs-2 voiceButtonArea text-left voice-button-area\">\n            <button class=\"btn btn-link voiceButton\">\n              <i class=\"fa fa-microphone-slash\" aria-hidden=\"true\"></i>\n            </button>\n          </div>\n          <div class=\"col-xs-12 lights\">\n            <a href=\"https://www.gnavi.co.jp/\" target=\"_blank\"> \n              <img src=\"http://apicache.gnavi.co.jp/image/rest/b/api_155_20.gif\" width=\"155\" height=\"20\" border=\"0\" alt=\"グルメ情報検索サイト　ぐるなび\">\n            </a>\n          </div>          \n          <div class=\"col-xs-2 hidden-xs\"></div>          \n        </div>\n      </form>\n      <div class=\"row results-margin\">\n        <div class=\"col-xs-12 visible-xs\"></div>\n        <div class=\"col-xs-12 hidden-xs\"></div>\n      </div>\n      <div class=\"row results\">\n      </div>\n    </div>\n    <div id=\"comment-modal\" class=\"modal fade\">\n      <div class=\"modal-dialog commentModal\">\n        <div class=\"modal-content\">\n          <div class=\"modal-header\">\n            <h4 class=\"modal-title titleText\"></h4>\n          </div>\n          <div class=\"modal-body\">\n            <div class=\"form-inline\">\n              <div class=\"form-group\">\n                <textarea class=\"form-control textArea\" placeholder=\"お店の感想を教えてください\" rows=\"3\" cols=\"70\"></textarea>\n              </div>\n            </div>\n          </div>\n          <div class=\"modal-footer\">\n              <div class=\"comment-icons\">\n                <button class=\"btn btn-link voiceButton\">\n                  <i class=\"fa fa-microphone-slash\" aria-hidden=\"true\"></i>\n                </button>\n                <button class=\"btn btn-link cancelButton\" data-dismiss=\"modal\">\n                  <i class=\"fa fa-times-circle\" aria-hidden=\"true\"></i>\n                </button>\n                <button class=\"btn btn-link okButton\">\n                  <i class=\"fa fa-check-circle\" aria-hidden=\"true\"></i>\n                </button>\n              </div>\n          </div>\n        </div>\n      </div>\n    </div>\n    <div id=\"alertModal\" class=\"modal fade\">\n      <div class=\"modal-dialog\">\n        <div class=\"modal-content\">\n          <div class=\"modal-header\"></div>\n          <div class=\"modal-body\">\n            <p class=\"alertText\"></p>\n          </div>\n          <div class=\"modal-footer\"></div>\n        </div>\n      </div>\n    </div>\n    <div id=\"map-modal\" class=\"modal fade\">\n      <div class=\"modal-dialog modal-lg\">\n        <div class=\"modal-content\">\n          <div class=\"modal-header\">\n            <h3 class=\"panel-title shopName\"></h3>\n            <div class=\"map-icon\">\n              <button class=\"btn btn-link\" data-dismiss=\"modal\">\n                <i class=\"fa fa-times-circle\" aria-hidden=\"true\"></i>\n              </button>\n            </div>\n          </div>\n          <div class=\"modal-body\">\n            <div id=\"map-canvas\"></div>\n          </div>\n          <div class=\"modal-footer\"></div>\n        </div>\n      </div>\n    </div>\n    <div style=\"display: none;\">\n      <div class=\"templateHalfstar\">\n        <i class=\"fa fa-star-half\" aria-hidden=\"true\"></i>\n      </div>\n      <div class=\"templateStar\">\n        <i class=\"fa fa-star\" aria-hidden=\"true\"></i>\n      </div>\n      <div class=\"templateQuestion\">\n        <i class=\"fa fa-question\" aria-hidden=\"true\"></i>\n      </div>\n      <div class=\"templateRestaurant\">\n        <div class=\"col-xs-12 col-sm-6 col-md-4 restaurant\">          \n          <div class=\"panel panel-default restaurant-bg restaurantBg\">\n            <div class=\"panel-heading\">\n              <h3 class=\"panel-title shopName\"></h3>              \n              <p class=\"star-icons stars\">\n              </p>\n            </div>\n            <div class=\"panel-body\">\n              <p class=\"shopText\"></p>\n            </div>\n            <div class=\"panel-footer\">\n              <div class=\"detail-icons\">\n                <button class=\"btn btn-link pinButton\">\n                  <i class=\"fa fa-thumb-tack\" aria-hidden=\"true\"></i>\n                </button>\n                <button class=\"btn btn-link linkButton\">\n                  <i class=\"fa fa-link\" aria-hidden=\"true\"></i>\n                </button>\n                <button class=\"btn btn-link mapButton\" data-toggle=\"modal\" data-target=\"#map-modal\">\n                  <i class=\"fa fa-map-marker\" aria-hidden=\"true\"></i>\n                </button>\n                <button class=\"btn btn-link commentButton\" data-toggle=\"modal\" data-target=\"#comment-modal\">\n                  <i class=\"fa fa-commenting\" aria-hidden=\"true\"></i>\n                </button>\n              </div>\n              <div class=\"text-right\">\n                <div class=\"provided\">提供：ぐるなび</div>\n                <span class=\"budget\"></span>\n                <span class=\"distination\"></span>\n              </div>\n            </div>\n          </div>\n        </div>\n      </div>\n    </div>\n    <script type=\"text/javascript\">\n      var Global = {\n        userTag: makeUUID(),\n        canSpeech: true,\n        rec: null,\n        recError: null,\n        coords: null,\n        noRank: null,\n        TEXT_MAX_LENGTH: 100,\n        ENV: \"pro\"\n      };\n\n      $(function(){\n        window.SpeechRecognition = window.SpeechRecognition\n              || window.webkitSpeechRecognition;\n        \n        var ua = window.navigator.userAgent.toLowerCase();\n        if (ua.indexOf(\"iphone\")>0||ua.indexOf(\"ipad\")>0||ua.indexOf(\"ipod\")>0) {\n          Global.canSpeech = false;\n        }        \n        if (window.SpeechRecognition && Global.canSpeech) {\n          $(\".header .voiceButton\").on(\"click\", function() {\n            recognizeVoice($(\".header\"), search);\n          });\n          $(\".commentModal .voiceButton\").on(\"click\", function() {\n            recognizeVoice($(\".commentModal\"), function() {\n              var $root = $(\"#comment-modal\").delay(\"slow\").queue(function(next) {\n                closeModal($root, comment);\n                next();\n              });\n            });\n          });\n          $(\".voiceButton .fa\").removeClass(\"fa-microphone-slash\").addClass(\"fa-microphone\");\n        }\n        if (navigator.geolocation) {\n          navigator.geolocation.getCurrentPosition(function(data){\n            Global.coords = data.coords;\n          });\n        }\n      });\n      $(\"form\").on(\"submit\", function(){ return false; });\n\n      $(\".textArea\").each(function(){autosize(this);});\n      $(\".header .textArea\").on(\"autosize:resized\", function() {\n        $(this).prop(\"maxlength\", Global.TEXT_MAX_LENGTH);\n        var height = $(this).outerHeight();\n        $(\".header .voiceButtonArea\").height(height).css(\"line-height\", height+\"px\");\n      });\n      \n      $(\".header .textArea\").on(\"keydown\", function(event) { typeText(event, search); });\n      $(\".commentModal .textArea\").on(\"keydown\", function(event) { \n        typeText(event, function() {\n          var $root = $(\"#comment-modal\").delay(\"slow\").queue(function(next) {\n            closeModal($root, comment);\n            next();\n          });\n        });\n      });\n      $(\".commentModal .okButton\").on(\"click\", function(event) {\n        var $textArea = $(\".commentModal .textArea\");\n        var val = formatText($textArea.val());\n        $textArea.val(val);\n        if (val != \"\") {\n          var $root = $(\"#comment-modal\").delay(\"slow\").queue(function(next) {\n            closeModal($root, comment);\n            next();\n          });\n        }\n      });\n      $('#map-modal').on(\"shown.bs.modal\", openMap).on(\"hidden.bs.modal\", closeMap);\n      \n      function recognizeVoice($root, succeed) {\n        cancelSpeak();\n        \n        Global.recError = true;\n        var $voiceButton=$root.find(\".voiceButton\");\n        if ($voiceButton.blur().toggleClass(\"blink\").hasClass(\"blink\")) {\n          if (Global.rec) {\n            Global.rec.abort();\n          }\n          var rec = new SpeechRecognition();\n          Global.rec = rec;\n\n          rec.lang = \"ja-JP\";\n\n          var $textArea = $root.find(\".textArea\");        \n          rec.onresult = function(event) {\n            Global.recError = false;\n\n            $textArea.val(formatText(event.results.item(0).item(0).transcript));\n            succeed();\n          };\n          rec.onend = function() {\n            $voiceButton.removeClass(\"blink\");          \n            if (Global.recError) {\n              var $icon = $voiceButton.find(\"i\");\n              $icon\n                .removeClass(\"fa-microphone\")\n                .addClass(\"fa-question\")\n                .delay(\"slow\")\n                .fadeOut(\"slow\", function() {\n                  $icon\n                    .removeClass(\"fa-question\")\n                    .addClass(\"fa-microphone\")\n                    .show();\n              });\n            }\n          };\n          rec.start();\n        } else {\n          if (Global.rec) {\n            Global.recError = false;\n            Global.rec.abort();\n          }        \n        }\n      }\n      function speakVoice(message) {\n        cancelSpeak();\n        if (speechSynthesis && Global.canSpeech) {\n          var utterance = new SpeechSynthesisUtterance();\n          utterance.text = message;\n          utterance.lang = \"ja-JP\";\n          speechSynthesis.speak(utterance);\n        }\n      }\n      function cancelSpeak() {\n        if (speechSynthesis) {\n          speechSynthesis.cancel();\n        }\n      }\n      \n      function typeText(event, callback, $textArea) {\n        if (event.keyCode == 13) {\n          event.preventDefault();\n          \n          if (!$textArea) {\n            $textArea = $(event.currentTarget);\n          }\n\n          var val = formatText($textArea.val());\n          $textArea.val(val);\n          if (val != \"\") {\n            if (callback) {\n              $textArea.blur();\n              callback();\n            }\n          }\n        }        \n      }\n      function search() {\n        var postData = {\n          query: $(\".header .textArea\").val()\n        };\n        var budgets = getBudgets(postData.query);\n        if (budgets) {\n          postData.budget_min = budgets.budget_min;\n          postData.budget_max = budgets.budget_max;\n        }\n        \n        $.ajax({\n          type: \"post\",\n          url: Global.noRank ? \"norank\" : \"search\",\n          dataType: \"json\",\n          data: postData\n        }).done(function(data){\n          try {\n            data.custom = {\n              queryTag: makeUUID()\n            };\n            if (data.response.docs.length > 0) {\n              displayResults(data);\n            } else {\n              var message = \"丁度いいお店が見つけられませんでした……\";\n              speakVoice(message);\n              showAlertModal(message);\n            }\n            loggingSearch(data);\n          } catch(e) {\n            alertFailure(e);\n          }\n        }).fail(alertFailure);\n      }\n      function getBudgets(query) {\n        var B_MIN = 0;\n        var B_MAX = 100000;\n        var B_RANGE = 500;\n        var budgets = null;\n        query = query.replace(/０-９/g,function(s){\n          return String.fromCharCode(s.charCodeAt(0) - 0xFEE0);\n        });\n        var matches = query.match(/\\d+(?=円)|(から|以上)|(まで|以内|未満|以下|足らず)/g);\n        if (matches) {\n          var yens = matches.filter(function(y){ \n            if (isFinite(y)) {\n              return y > B_MIN && y < B_MAX\n            } else {\n              return false;\n            }\n          });\n          if (yens.length == 1) {\n            var condition;\n            try {\n              condition = matches[matches.indexOf(yens[0])+1];\n            } catch(e) {\n              condition = null;\n            }\n            yens = yens.map(function(y){\n              return Number(y.replace(/^0+/g, \"\"));\n            });\n            \n            if (condition) {\n              if (/から|以上/g.test(condition)) {\n                budgets = {\n                  budget_min: yens[0],\n                  budget_max: B_MAX\n                };\n              } else {\n                budgets = {\n                  budget_min: B_MIN,\n                  budget_max: yens[0]\n                };\n              }\n            } else {\n              budgets = {\n                budget_min: yens[0] - B_RANGE,\n                budget_max: yens[0] + B_RANGE\n              };\n            }\n          } else if (yens.length >= 2) {\n            budgets = {\n              budget_min: Math.min(yens[0], yens[1]),\n              budget_max: Math.max(yens[0], yens[1])\n            };\n          }\n        }        \n        if (budgets) {\n          budgets.budget_min = Math.max(B_MIN, budgets.budget_min);\n          budgets.budget_max = Math.min(B_MAX, budgets.budget_max);\n\n          return budgets;\n        } else {\n          return null;\n        }\n      }\n      function displayResults(data) {\n        speakRecommendations(data);\n        \n        $(\".title-margin\").delay(\"fast\").slideUp(function() {\n          $(\"body\").prepend($(\".header\")).addClass(\"listMode\");\n        });\n\n        var $results = $(\".results\");\n        $results.find(\".restaurant\").each(function(index, element){\n          var $element = $(element);\n          if (!$element.hasClass(\"pinning\")) {\n            $element.remove();\n          }\n        });\n        \n        data.response.docs.forEach(function(document){\n          var $restaurant = $(\".templateRestaurant :first\").clone(true, true);\n          $restaurant.data({\n            data: data,\n            document: document\n          });\n          \n          $restaurant.find(\".shopName\").text(document.shop_name);\n          $restaurant.find(\".restaurantBg\").css(\"background-color\", getRandomColor(document.shop_name + document.shop_name_kana + document.pr_text));\n          if (document.image_url != \"\") {\n            $restaurant.find(\".restaurantBg\").css(\"background-image\", \"url(\" + document.image_url + \")\");            \n          } else {\n            $restaurant.find(\".provided\").hide();\n          }\n          \n          $restaurant.find(\".shopText\").text(document.pr_text);\n          var confidence = document[\"ranker.confidence\"];\n          if (isFinite(confidence)) {\n            var starScore = Math.max(1, Math.floor(confidence * 10));\n            for (var i = 0; i < Math.floor(starScore / 2); i++) {\n              $(\".templateStar :first\").clone(true, true).appendTo($restaurant.find(\".stars\"));\n            }\n            for (var i = 0; i < Math.floor(starScore % 2); i++) {\n              $(\".templateHalfstar :first\").clone(true, true).appendTo($restaurant.find(\".stars\"));\n            }\n          } else {\n              $(\".templateQuestion :first\").clone(true, true).appendTo($restaurant.find(\".stars\"));\n          }\n          var budget = document.budget;\n          if (budget > 0) {\n            $restaurant.find(\".budget\").text(\"予算約\" + document.budget + \"円\");\n          }\n          if (Global.coords) {\n            var distance = calcDistance(\n              Global.coords.latitude, \n              Global.coords.longitude, \n              document.latitude, \n              document.longitude).toFixed();\n            if (distance > 750) {\n              distance = (distance / 1000).toFixed(1) + \"k\";\n            }\n            var distinationText = \"ここから約\" + distance + \"m\";\n            $restaurant.find(\".distination\").text(distinationText);\n          }\n          \n          $restaurant.find(\".pinButton\").on(\"click\", pinning);\n          $restaurant.find(\".linkButton\").on(\"click\", openLink);\n          $restaurant.find(\".mapButton\").on(\"click\", clickMapButton);\n          $restaurant.find(\".commentButton\").on(\"click\", openCommentModal);\n          \n          $restaurant.appendTo($results).hide().delay(\"fast\").fadeIn(\"slow\");\n        });\n      }\n      function speakRecommendations(data) {\n        speakVoice(\"おすすめのお店をご紹介致します\");\n      }\n      \n      function comment() {\n        var $root = $(\".commentModal\");\n        var text = $root.find(\".textArea\").val();\n        $.ajax({\n          type: \"post\",\n          url: \"classify\",\n          dataType: \"json\",\n          data: {\n\t       text: text\n          }\n        }).done(function(data){\n          var topClass = data.top_class;\n          var message = topClass == \"yummy\" ? \"喜んで頂けたようで、良かったです！\" : \"ご満足頂けなかったようで、すみません…\";\n          speakVoice(message);\n          showAlertModal(message);\n          \n          loggingComment(\n            $root.data(\"data\"), \n            $root.data(\"document\").shop_id, \n            $root.data(\"document\").vote_id, \n            text, \n            topClass);\n        }).fail(alertFailure);\n      }\n\n      function pinning() {\n        $(this).blur().closest(\".restaurant\").toggleClass(\"pinning\");\n      }\n      function openLink() {\n        var $restaurant = $(this).blur().closest(\".restaurant\");\n        window.open($restaurant.data(\"document\").shop_url, \"_blank\");\n        loggingShowDetail($restaurant.data(\"data\"), $restaurant.data(\"document\").shop_id, $restaurant.data(\"document\").vote_id, \"hp\");\n      }\n      function clickMapButton() {\n        var $restaurant = $(this).blur().closest(\".restaurant\");\n        $(\"#map-modal\").data(\"data\", $restaurant.data(\"data\"));\n        $(\"#map-modal\").data(\"document\", $restaurant.data(\"document\"));\n      }\n      function openMap() {\n        var canvas = window.document.getElementById(\"map-canvas\");\n        var $root = $(\"#map-modal\");\n        var document = $root.data(\"document\");\n        \n        $root.find(\".shopName\").text(document.shop_name);        \n        \n        var distination = new google.maps.LatLng(document.latitude, document.longitude);\n        var mapOptions = {\n          zoom: 17,\n          center: new google.maps.LatLng(document.latitude, document.longitude)\n        };\n        var map = new google.maps.Map(canvas, mapOptions);\n        google.maps.event.trigger(map, \"resize\");\n        \n        if (Global.coords) {\n          var request = {\n              origin: new google.maps.LatLng(Global.coords.latitude, Global.coords.longitude),\n              destination: distination,\n              travelMode: google.maps.DirectionsTravelMode.WALKING\n          }\n          var directionsService = new google.maps.DirectionsService();\n          directionsService.route(request, function(result){\n            var directionsDisplay = new google.maps.DirectionsRenderer();\n            directionsDisplay.setDirections(result);\n            directionsDisplay.setMap(map);\n            map.setOptions(mapOptions);\n          });\n        } else {\n          new google.maps.Marker({\n            map: map,\n            position: distination\n          });\n        }\n        loggingShowDetail($root.data(\"data\"), document.shop_id, document.vote_id, \"map\");\n      }\n      function closeMap() {\n        var $root = $(\"#map-modal\");\n        $root.find(\".shopName\").text(\"\");\n        $root.find(\"#map-canvas\").empty();\n      }\n      \n      function openCommentModal() {\n        var $root = $(\".commentModal\");\n        var $restaurant = $(this).blur().closest(\".restaurant\");\n        var document = $restaurant.data(\"document\");\n        $root.data({\n          data: $restaurant.data(\"data\"),\n          document: document\n        });\n        $root.find(\".titleText\").text(document.shop_name + \"はいかがでしたか？\");\n        $root.find(\".textArea\").val(\"\");\n        \n        speakVoice(document.shop_name_kana + \"はいかがでしたか？\");\n      }\n      \n      function loggingSearch(data) {\n        logging(\"search\", data.responseHeader.params.q, data.custom.queryTag, \"\", \"\", \"\", \"\");\n      }\n      function loggingShowDetail(data, shopId, voteId, subType) {\n        logging(\"show_detail.\"+subType, data.responseHeader.params.q, data.custom.queryTag, shopId, voteId, \"\", \"\");\n      }\n      function loggingComment(data, shopId, voteId, commentText, commentClass) {\n        logging(\"comment\", data.responseHeader.params.q, data.custom.queryTag, shopId, voteId, commentText, commentClass);\n      }\n      function logging(loggingType, queryText, queryTag, shopId, voteId, commentText, commentClass) {\n        $.ajax({\n          type: \"post\",\n          url: \"logging\",\n          dataType: \"json\",\n          data: {\n\t       env: Global.ENV,\n\t       loggingId: makeUUID(),\n\t       loggingType: loggingType,\n\t       queryText: queryText,\n\t       shopId: shopId,\n           voteId: voteId,\n\t       commentText: commentText,\n\t       commentClass: commentClass,\n\t       userTag: Global.userTag,\n           queryTag: queryTag\n          }\n        });\n      }\n      \n      function alertFailure(error) {\n        var message = \"ちょっと調子が悪いので、また後で話しかけてください……\";\n        speakVoice(message);\n        showAlertModal(message);\n      }\n      \n      function getRandomColor(text) {\n        var colors = [\"red\", \"chocolate\", \"purple\", \"olive\", \"orange\", \"brown\", \"orchid\"];\n        return colors[text.length % colors.length];\n      }\n      function formatText(value) {\n        return $.trim(value.replace(/[\\n\\r\\t]/g, \"\").substr(0, Global.TEXT_MAX_LENGTH));\n      }\n      function showAlertModal(message) {\n        $root = $(\"#alertModal\");\n        $root.find(\".alertText\").text(message);\n        $root.on(\"shown.bs.modal\", function() {\n        $(\"body\").addClass(\"modal-alert-color\");\n        }).on(\"hidden.bs.modal\", function() {\n          $(\"body\").removeClass(\"modal-alert-color\");\n        }).modal();\n        $root.delay(3000).queue(function(next){\n          closeModal($root);\n          next();\n        });\n      }\n      function closeModal($modal, callback) {\n        if ($modal.hasClass(\"in\")) {\n          $modal.removeClass(\"modal-open\");\n          $(\".modal-backdrop\").remove();\n        }\n        if (callback) {\n          $modal.modal(\"hide\").queue(function(next){\n            callback();\n            next();\n          });\n        } else {\n          $modal.modal(\"hide\");\n        }\n      }\n      function calcDistance(lat1, lat2, lng1, lng2) {\n        function radians(deg){\n          return deg * Math.PI / 180;\n        }\n        return 6378.14\n          * Math.acos(\n            Math.cos(radians(lat1)) \n              * Math.cos(radians(lat2))\n              * Math.cos(radians(lng2) - radians(lng1))\n              + Math.sin(radians(lat1)) * Math.sin(radians(lat2))\n            );\n      }\n      function makeUUID() {\n        var uuid = \"\", i, random;\n        for (i = 0; i < 32; i++) {\n          random = Math.random() * 16 | 0;\n          if (i == 8 || i == 12 || i == 16 || i == 20) {\n            uuid += \"-\"\n          }\n          uuid += (i == 12 ? 4 : (i == 16 ? (random & 3 | 8) : random)).toString(16);\n        }\n        return uuid;\n      }\n    </script>\n  </body>\n</html>","x":250,"y":80,"wires":[["bc862ce0.24f34"]]},{"id":"af398209.958ac","type":"http in","z":"bf89f9a5.662b18","name":"","url":"/search","method":"post","swaggerDoc":"","x":90,"y":160,"wires":[["5001123d.2e782c","df4b4620.e7ead8"]]},{"id":"d157de32.60601","type":"http in","z":"bf89f9a5.662b18","name":"","url":"/logging","method":"post","swaggerDoc":"","x":90,"y":280,"wires":[["2a6d9f70.db122","5001123d.2e782c"]]},{"id":"bf41e8cc.2b1978","type":"json","z":"bf89f9a5.662b18","name":"","x":710,"y":200,"wires":[["bc862ce0.24f34","113a2429.6a9eac"]]},{"id":"217850b.0c16cb","type":"http in","z":"bf89f9a5.662b18","name":"","url":"/norank","method":"post","swaggerDoc":"","x":90,"y":200,"wires":[["5001123d.2e782c","50fbc790.671ba8"]]},{"id":"c5ef58e0.d222a8","type":"http in","z":"bf89f9a5.662b18","name":"","url":"/classify","method":"post","swaggerDoc":"","x":90,"y":240,"wires":[["18693111.0eaf3f","5001123d.2e782c"]]},{"id":"2a6d9f70.db122","type":"function","z":"bf89f9a5.662b18","name":"Logging","func":"var d = new Date();\nd.setUTCHours(d.getUTCHours()+9);\nvar regDate = d.getUTCFullYear() + \"-\" + (d.getUTCMonth()+1) + \"-\" + d.getUTCDate() + \" \" + d.getUTCHours() + \":\" + d.getUTCMinutes() + \":\" + d.getUTCSeconds();\n\nvar p=[];\n[\n\tmsg.payload.env,\n\tmsg.payload.loggingId,\n\tmsg.payload.loggingType,\n\tmsg.payload.queryText,\n\tmsg.payload.shopId,\n\tmsg.payload.voteId,\n\tmsg.payload.commentText,\n\tmsg.payload.commentClass,\n\tmsg.payload.userTag,\n\tmsg.payload.queryTag,\n\tregDate\n].forEach(function (param) {\n\tp.push(param.replace(/[\\\\']/g, function(c) {\n\t\treturn \"\\\\\" + c;\n\t}));\n});\nmsg.topic=\"insert into logging values ('\"+p.join(\"','\")+\"')\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["1a75b192.0d4dfe"]]},{"id":"113a2429.6a9eac","type":"debug","z":"bf89f9a5.662b18","name":"","active":true,"console":"false","complete":"payload","x":830,"y":40,"wires":[]},{"id":"18693111.0eaf3f","type":"function","z":"bf89f9a5.662b18","name":"Classify","func":"var text;\ntry {\n    text = msg.payload.text.substring(0, 500);\n} catch(e) {\n    text = \"\";\n}\nmsg.payload = text;\nreturn msg;","outputs":"1","noerr":0,"x":260,"y":240,"wires":[["d4f0a1a3.db5b3","cc5d60ae.82c92"]]},{"id":"5001123d.2e782c","type":"debug","z":"bf89f9a5.662b18","name":"","active":false,"console":"false","complete":"payload","x":270,"y":40,"wires":[]},{"id":"df4b4620.e7ead8","type":"function","z":"bf89f9a5.662b18","name":"Search","func":"var query;\ntry {\n    query = msg.payload.query.substring(0, 500);\n\tquery = query.replace(\n\t\t/[\\\\\\+\\-\\&\\|\\!\\(\\)\\{\\}\\[\\]\\^\\\"\\~\\*\\?\\:\\/\\r\\n\\t\\u0020\\u3000]|AND|OR|NOT/g, \n    \tfunction(c) { return \"\\\\\" + c; }\n    );\n} catch(e) {\n    query = \"\";\n}\nvar budgets = {};\ntry {\n\tbudgets.budget_min = parseInt(msg.payload.budget_min);\n\tbudgets.budget_max = parseInt(msg.payload.budget_max);\n\tif (!(isFinite(budgets.budget_min)&&isFinite(budgets.budget_max))) {\n\t\tbudgets = null;\n\t}\n} catch(e) {\n\tbudgets = null;\n}\nmsg.headers = {\n    \"content-type\": \"application/x-www-form-urlencoded\"\n};\nmsg.payload = {\n    \"wt\": \"json\",\n    \"fl\": \"*\",\n\t\"rows\": 60,\n    \"q\": query,\n\t\"ranker_id\": \"ranker_id\",\n\t\"omitHeader\": false\n};\nif (budgets) {\n\tmsg.payload.fq=\"budget:[\" + budgets.budget_min + \" TO \" + budgets.budget_max + \"]\";\t\n}\nflow.set(\"params\", msg.payload);\nreturn msg;","outputs":"1","noerr":0,"x":260,"y":160,"wires":[["bd6dc625.320268","cc5d60ae.82c92"]]},{"id":"50fbc790.671ba8","type":"function","z":"bf89f9a5.662b18","name":"NoRank","func":"var query;\ntry {\n    query = msg.payload.query.substring(0, 500);\n\tquery = query.replace(\n\t\t/[\\\\\\+\\-\\&\\|\\!\\(\\)\\{\\}\\[\\]\\^\\\"\\~\\*\\?\\:\\/\\r\\n\\t\\u0020\\u3000]|AND|OR|NOT/g, \n    \tfunction(c) { return \"\\\\\" + c; }\n    );\n} catch(e) {\n    query = \"\";\n}\nvar budgets = {};\ntry {\n\tbudgets.budget_min = parseInt(msg.payload.budget_min);\n\tbudgets.budget_max = parseInt(msg.payload.budget_max);\n\tif (!(isFinite(budgets.budget_min)&&isFinite(budgets.budget_max))) {\n\t\tbudgets = null;\n\t}\n} catch(e) {\n\tbudgets = null;\n}\nmsg.headers = {\n    \"content-type\": \"application/x-www-form-urlencoded\"\n};\nmsg.payload = {\n    \"wt\": \"json\",\n    \"fl\": \"*\",\n\t\"rows\": 60,\n    \"q\": query\n};\nif (budgets) {\n\tmsg.payload.fq=\"budget:[\" + budgets.budget_min + \" TO \" + budgets.budget_max + \"]\";\t\n}\nreturn msg;","outputs":"1","noerr":0,"x":260,"y":200,"wires":[["7922e07a.3387b","cc5d60ae.82c92"]]},{"id":"bd6dc625.320268","type":"http request","z":"bf89f9a5.662b18","name":"RaR Fcselect","method":"POST","ret":"txt","url":"https://gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/cluster_id/solr/restaurant/fcselect","tls":"","x":430,"y":160,"wires":[["6badf615.2ac9a8"]]},{"id":"7922e07a.3387b","type":"http request","z":"bf89f9a5.662b18","name":"RaR Select","method":"POST","ret":"txt","url":"https://gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/cluster_id/solr/restaurant/select","tls":"","x":430,"y":200,"wires":[["bf41e8cc.2b1978"]]},{"id":"1a75b192.0d4dfe","type":"mysql","z":"bf89f9a5.662b18","mydb":"46d06e8f.0fec4","name":"MySQL","x":580,"y":280,"wires":[["bf41e8cc.2b1978"]]},{"id":"d4f0a1a3.db5b3","type":"watson-natural-language-classifier","z":"bf89f9a5.662b18","name":"NLC Classify","mode":"classify","language":"en","classifier":"classifier_id","x":430,"y":240,"wires":[["6a771b31.915114"]]},{"id":"cc5d60ae.82c92","type":"delay","z":"bf89f9a5.662b18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":120,"wires":[["77838b70.b07a54"]]},{"id":"77838b70.b07a54","type":"template","z":"bf89f9a5.662b18","name":"Timeout","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"error\": \"timeout\"\n}","x":580,"y":120,"wires":[["bc862ce0.24f34"]]},{"id":"6a771b31.915114","type":"function","z":"bf89f9a5.662b18","name":"Format","func":"delete msg.payload.classifier_id;\ndelete msg.payload.url;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["bf41e8cc.2b1978"]]},{"id":"c745a035.b2de9","type":"function","z":"bf89f9a5.662b18","name":"Format","func":"msg.payload.responseHeader.params = flow.get(\"params\");\ndelete msg.payload.responseHeader.params.ranker_id;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":160,"wires":[["bc862ce0.24f34","113a2429.6a9eac"]]},{"id":"6badf615.2ac9a8","type":"json","z":"bf89f9a5.662b18","name":"","x":570,"y":160,"wires":[["c745a035.b2de9"]]},{"id":"46d06e8f.0fec4","type":"MySQLdatabase","z":"","host":"us-cdbr-iron-east-04.cleardb.net","port":"3306","db":"db","tz":""}]